<!DOCTYPE html>
<head>
<title>Pennterest Login</title>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
	<div id="login-container">
    <form method="post" id="login-form" class="well span4">
      <h1>Welcome!</h1>
      <p class="subheading">Please Login To Your Account</p>
      <% if (!(typeof errmsg === 'undefined')) { %><label class="error"><%= errmsg %></label><%}%>
      <label>Email </label>
      <input type="text" name="email" id="email-tf" class="span4 required">
      <label>Password</label>
      <input type="password" name="pass" id="pass-tf" class="span4 required">
      <button type="submit" id="btn-login" class="btn btn-primary">Sign in</button>
      <label id="remember-me" class="checkbox">Remember Me
        <input type="checkbox" checked="checked">
      </label>
      <div class="clear-fix"></div>
      <hr>
      <div class="btm-links"><a href="/register" id="create-account">Create An Account</a></div>
    </form>
  </div>
  <div class="modal-alert modal hide fade">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">x</button>
      <h3></h3>
    </div>
    <div class="modal-body">
      <p></p>
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" id="ok" class="btn btn-warning">OK</button>
    </div>
  </div>
  <div id="get-credentials" class="modal-single-input modal hide fade">
    <div class="modal-header">
      <button data-dismiss="modal" class="close">x</button>
      <h3>Retrieve Password</h3>
    </div>
    <div class="modal-body">
      <form method="post" id="get-credentials-form" class="well span5">
        <p>Please enter the email address associated with your account</p>
        <input type="text" name="email" id="email-tf" class="span5 required">
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        <button data-dismiss="modal" id="cancel" class="btn">Cancel</button>
        <div class="alert alert-error hide"></div>
        <button data-dismiss="alert" class="close"></button>
      </form>
    </div>
    <div class="modal-footer"></div>
  </div>
</body>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script type='text/javascript' src='/js/jquery.validate.js'></script>
<script src="/js/bootstrap-modal.js"></script>
<script src="/js/bootstrap-transition.js"></script>
<script>
	$().ready(function() {
		$("#login-form").validate({
			rules: {
				email: {
					required: true,
					email: true
				},
				pass: {
					required: true
				}
			}
		});
	});
</script>
</html>


