<!DOCTYPE html>
<head>
	<title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'>
	</script>
</head>
<body>
	<div style="border:solid 1px green">
  		<h1>Pennterest Login</h1>
  		<input type="text">
  		
	</div>
</body>
</html>


